* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #a7e6f1;
}

.header a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

/* Hero Section */
.hero {
    
    padding: 80px 20px;
    text-align: center;
    background-image: url('images/43003.jpg');
    background-repeat: none;
    background-size: cover;
    height: 85vh;
    margin: 0;

}

.hero-text{
    padding: 265px;
     
}

.hero h1 {
    font-size: 42px;
}

.hero p {
    margin: 10px 0;
    font-size: 18px;
    color: #555;
}

/* Button */
.btn {
    padding: 10px 20px;
    background: #ff4d6d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #e63a58;
}

/* Product Section */
.products {
    padding: 50px 20px;
    text-align: center;
    background-color: antiquewhite;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: rgb(174, 247, 233);
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

/* Footer Section */
.footer {
    margin-top: 40px;
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
